/* TITULO */

.title__munchies {
    font-size: 2em;
    position: absolute;
    margin: -28px 16%;
    font-size: 37px;
    color: #1abc9c;
    font-weight: bold;
	font-family: fantasy;
	transform:rotatey(180deg);
}

.title__munchies_2{
    font-size: 2em;
    position: absolute;
    margin: -28px 80%;
    font-size: 37px;
    color: #1abc9c;
    font-weight: bold;
    font-family: fantasy;
}


/* FORM STYLE  */

.form__style_Content{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 25px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.form__style_Content fieldset{
	border: none;
}
.form__style_Content legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}
.form__style_Content label {
	display: block;
	margin-bottom: 8px;
}
.form__style_Content input[type="text"],
.form__style_Content input[type="date"],
.form__style_Content input[type="datetime"],
.form__style_Content input[type="email"],
.form__style_Content input[type="number"],
.form__style_Content input[type="search"],
.form__style_Content input[type="time"],
.form__style_Content input[type="url"],
.form__style_Content textarea,
.form__style_Content select {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}


.form__style_Content .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}


/* SUBMIT BUTTON & HOOVER */
.form__style_Content input[type="submit"],
.form__style_Content input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form__style_Content input[type="submit"]:hover,
.form__style_Content input[type="button"]:hover
{
	background: #109177;
}


/* IMAGEN LOGO  */
.imagen_logo {
    border-style: none;
    max-width: 100%;
    position: absolute;
    opacity: 0.1;
    width: 100%;
    margin: -136px 0;
    height: 162%;
    z-index: -1;
}


/* MOOVILE VIEW  */
@media only screen and (max-width: 1020px ){

	.title__pizzaretos {
		color: transparent;
	}
	
	.title__pizzaretos_2{
		color: transparent;

	}
	
}

/* HEADER  */
.header__title_box{
	color:#1abc9c;
	font-size: 80px;
	text-align: center;
}
.container__header{
	margin: 0;
	box-sizing: content-box;
	position: relative;
	top: -10;
}

h1.header__title_box {
    height: 108px;
    margin: 0;
}



/* FOOTER  */
.footer__copyright{
	color:#1abc9c;
	font-size: 20px;
	text-align: center;
}
/* LABELS */
.black-text{
	color: rgb(0, 0, 0) ;
	font-weight: bold;
}
/* ERRORS */
.red-text{
    color: rgb(197, 7, 7) ;
    font-weight: bold;
}

/* INPUTS LIST OF MEAT */
.input__form_checkBox{
    margin: 3px 3px;
}
.input__form_tipoDeCarne{

	font-size: larger;

}
